* {
	margin: o;
}

.bas-de-page {
	background-color: #163052;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100vw;
	height: 64px;
}

.bas-de-page ul {
	display: flex;
	width: 100vw;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 0 1rem;
}

.bas-de-page ul li {
	display: flex;
	font-size: .5rem;
}

.bas-de-page ul li a {
	text-decoration: none;
	color: white;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	text-shadow: 0 -1px 1px #e01313, 0 -2px 10px rgb(255, 221, 0), 0 -10px 20px
		#ff8000, 0 -18px 30px #f00;
}
