* {
  margin: 0;
  padding: 0;
}

.bas-de-page {
  background-color: #163052;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
  height: 64px;
  margin: 0;
  height: 5vh;
}

.bas-de-page ul {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 0 1rem;
  height: 5vh;
}

.bas-de-page ul li {
  display: flex;
  font-size: 0.5rem;
  height: 1rem;
}

.bas-de-page ul li a {
  text-decoration: none;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
